div#chart {
    border: 1px solid darkslategray;
    height: 100%;
    width: 100%;
}

div.spacer {
    height: 125px;
}

button {
    display: inline-block;
}

input {
    display: inline-block;
}

#nyse-ticker-input,
#nasdaq-ticker-input,
#stock-profile-input {
    /* create border box */
    border: 1px solid #ccc;
    margin-left: 10px;
}

.stock-info {
    display: inline;
    width: 50%;
    height: 100%;
}

h4 {
    font-weight: bold;
    font-size: 20px;
}

label {
    margin-left: 10px;
}